node red
[{"id":"e14e4529.9c3058","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f68183aa.1eee5","type":"inject","z":"e14e4529.9c3058","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":47,"wires":[["c9d7d908.793388"]]},{"id":"48570016.24e22","type":"debug","z":"e14e4529.9c3058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":502,"y":95,"wires":[]},{"id":"c9d7d908.793388","type":"function","z":"e14e4529.9c3058","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"b34d97a5-40ce-4fad-b287-fe91463e8b3b\";\nvar password=\"9b083dc9-6f0e-4f4b-a8a8-65ddca9653f6\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"gs\",msg.payload.gs)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"ur\",msg.payload.ur)\nglobal.set(\"sp\",msg.payload.sp)\nglobal.set(\"lr\",msg.payload.lr)\nglobal.set(\"cg\",msg.payload.cg)\nglobal.set(\"rs\",msg.payload.rs)\nreturn msg;","outputs":1,"noerr":0,"x":151,"y":135,"wires":[["7955ee52.83114"]]},{"id":"bb4b912a.21c47","type":"ui_form","z":"e14e4529.9c3058","name":"","label":"","group":"7f423aba.d0b464","order":0,"width":0,"height":0,"options":[{"label":"GRE Score","value":"gs","type":"number","required":true},{"label":"TOEFL Score","value":"ts","type":"number","required":true},{"label":"University Rank","value":"ur","type":"number","required":true},{"label":"SOP","value":"sp","type":"number","required":true},{"label":"LOR","value":"lr","type":"number","required":true},{"label":"CGPA","value":"cg","type":"number","required":true},{"label":"Research","value":"rs","type":"number","required":true}],"formValue":{"gs":"","ts":"","ur":"","sp":"","lr":"","cg":"","rs":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":204,"wires":[["c9d7d908.793388"]]},{"id":"7955ee52.83114","type":"http request","z":"e14e4529.9c3058","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":254.5,"y":335,"wires":[["48570016.24e22","7f51ec6.2e8aa14"]]},{"id":"7f51ec6.2e8aa14","type":"function","z":"e14e4529.9c3058","name":"prediction","func":"var token=msg.payload.token;\nvar gs=global.get(\"gs\");\nvar ts=global.get(\"ts\");\nvar ur=global.get(\"ur\");\nvar sp=global.get(\"sp\");\nvar lr=global.get(\"lr\");\nvar cg=global.get(\"cg\");\nvar rs=global.get(\"rs\");\nmsg.payload={\"fields\":[\"GRE Score\",\"TOEFL Score\",\"University Rank\",\"SOP\",\"LOR\",\"CGPA\",\"Research\"],\"values\":[[gs,ts,ur,sp,lr,cg,rs]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":522,"wires":[["2eb85f68.c5756"]]},{"id":"2eb85f68.c5756","type":"http request","z":"e14e4529.9c3058","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/6019701d-9285-4d6c-894a-e2ce05efdfba/deployments/724a2e3b-4f2d-41da-bb63-761c91f10844/online","tls":"","proxy":"","authType":"basic","x":491,"y":344,"wires":[["976b8494.66d7a8"]]},{"id":"976b8494.66d7a8","type":"function","z":"e14e4529.9c3058","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":656,"y":219,"wires":[["879b1aea.69f7e8","a98a9fa7.dcffd","fb81e50b.9ee388"]]},{"id":"a98a9fa7.dcffd","type":"ui_text","z":"e14e4529.9c3058","group":"7f423aba.d0b464","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":631,"y":444,"wires":[]},{"id":"879b1aea.69f7e8","type":"debug","z":"e14e4529.9c3058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":769,"y":327,"wires":[]},{"id":"fb81e50b.9ee388","type":"ui_gauge","z":"e14e4529.9c3058","name":"","group":"7f423aba.d0b464","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":754.5,"y":80,"wires":[]},{"id":"7f423aba.d0b464","type":"ui_group","z":"","name":"predict","tab":"3ea3c61c.e1676a","disp":true,"width":"6","collapse":false},{"id":"3ea3c61c.e1676a","type":"ui_tab","z":"","name":"home","icon":"dashboard","disabled":false,"hidden":false}]